.wp-block-button {
    --button-gap: 8px;

    .wp-block-button__link:has([data-rich-text-placeholder]) {
        display: block; // Force display block in the admin to avoid a bug when typing
    }

    &.with-icon {
        picture {
            flex-shrink: 0;

            img {
                vertical-align: top;
            }
        }

        .wp-block-button__link {
            display: inline-flex;
            align-items: center;
            gap: var(--button-gap);

            &::before, &::after {
                font-size: var(--icon-size, 24px);
                width: 1em;
                height: 1em;
                background: var(--icon);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                flex-shrink: 0;
            }

            // Hack to use icons in the admin
            &.rich-text {
                gap: 0;

                &::before, &::after {
                    display: block;
                }

                &::before {
                    margin-right: var(--button-gap);
                }

                &::after {
                    margin-left: var(--button-gap);
                }
            }

        }

        &--right .wp-block-button__link.rich-text {
            &::after {
                content: '';
            }

            &:before {
                content: none;
            }

        }

        &--svg-xml:not(.with-icon--native-colors) {
            .wp-block-button__link {
                &::before, &::after {
                    height: 0;
                    border-top: var(--icon-border);
                    background: none;
                    mask: var(--icon);
                    mask-size: contain;
                    mask-position: center;
                    mask-repeat: no-repeat;
                }
            }
        }

        &--gradient {
            .wp-block-button__link {
                &::before, &::after {
                    height: 1em;
                    border-top: none;
                    background: var(--icon-gradient);
                }
            }
        }

        &--left .wp-block-button__link::before {
            content: '';
        }

        &--right .wp-block-button__link::after {
            content: '';
        }

        &:not(.with-icon--svg-xml) .wp-block-button__link:not(.rich-text) {
            &::before, &::after {
                content: none;
            }
        }
    }
}

.wp-embed-responsive .wp-has-aspect-ratio .iframe-placeholder {
    position: absolute;
    inset: 0 0 0 0;

    margin: 0;
    padding: 0;
    border: none;
}

.iframe-placeholder {
    .ytb-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
    
    }
    
    &::after {
        content: '';
        position: absolute;
        inset: 0 0 0 0;
        background: linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80px, rgba(0,0,0,.3) 100%);
    }
}
